@media (max-width: 1024px) {
    .conteudo-principal-imagem {
        height: 300px;
    }
}

@media (max-width: 800px) {
    .conteudo-principal-escrito-titulo {
        font-size: 32pt;
    }

    .conteudo-principal-escrito-subtitulo {
        font-size: 16pt;
    }

    .conteudo-principal-escrito-botao {
        width: 120px;
        height: 60px;
        font-size: 12pt;
    }

    .conteudo-principal-imagem {
        height: 200px;
    }
}

@media (max-width: 600px) {
    .conteudo-principal {
        flex-direction: column;
    }

    .conteudo-principal-escrito {
        align-items: center;
        text-align: center;
    }

    .conteudo-principal-imagem {
        margin: 30px 0 0;
    }

    .rodape {
        flex-direction: column;
        height: 100px;
    }
}

@media (max-width: 382px) {
    .conteudo-secundario-titulo {
        text-align: center;
    }
}

@media (max-width: 350px) {
    .conteudo-principal-imagem {
        height: 180px;
    }
}

@media (max-width: 300px) {
    .conteudo-principal-imagem {
        height: 150px;
    }

    .rodape {
        height: 50px;
    }

    .rodape-texto {
        font-size: 8pt;
    }
}